<nav class="article__extraNav">
  <ul>
    <li>
      <a href="/"><%= image_tag("comment.png") %></a>
    </li>
    <li>
      <a href="/"><%= image_tag("readlater.png") %></a>
    </li>
    <li>
      <a href="/"><%= image_tag("share.png") %></a>
    </li>
  </ul>
</nav>
