// Common colors for use within sass documents
$accentColor1: #083451;
$accentColor2: #2b75b5;
$textColor: #5e686f;
$subTextColor: #aab8c3;
$blueTint: rgba(0,100,200,0.6);

// Site break points, mostly borrowed from bootstrap.
$es-min: 480px;
$s-min: 768px;
$m-min: 1080px;
$l-min: 1350px;
