<nav class="posts">
  <h2 class="posts__sectionTitle">MOST POPULAR POSTS</h2>
  <ul>
    <li>
      <a href="/posts/sabertooth-surfing">
        <div class="glob__fadeTint">
          <img src="/assets/sabertoothsurfing.jpg">
          <h2>SABERTOOTH SURFING?</h2>
        </div>
      </a>
    </li>
    <li>
      <a href="/posts/mmm-beer">
        <div class="glob__fadeTint">
          <img src="/assets/beerflight.jpg">
          <h2>MMM... Beer...</h2>
        </div>
      </a>
    </li>
    <li>
      <a href="/posts/cool-kayaks">
        <div class="glob__fadeTint">
          <img src="/assets/kayaksonabeach.jpg">
          <h2>COOL KAYAKS!</h2>
        </div>
      </a>
    </li>
    <li>
      <a href="/posts/surf-dog-surf">
        <div class="glob__fadeTint">
          <img src="/assets/surfdog.jpg">
          <h2>SURF DOG, SURF</h2>
        </div>
      </a>
    </li>
  </ul>
</nav>
