<footer class="footer">
  <nav class="footer__nav">
    <ul>
      <li>
        <a href="/">Nav Item 1</a>
      </li>
      <li>|</li>
      <li>
        <a href="/">Nav Item 2</a>
      </li>
      <li>|</li>
      <li>
        <a href="/">Nav Item 3</a>
      </li>
    </ul>
  </nav>
  <div class="footer__logo">
    <img src="/assets/tiy.png">
  </div>
  <div class="footer__copyright">
    The Ironyard Copyright 2013 All Rights Reserved
  </div>
</footer>
