<header class="header">
  <div class="header__imgOverlay">
    <nav class="header__topNav">
      <ul>
        <li><a href="/">ABOUT</a></li>
        <li><a href="/">SEARCH &#x1f50e;</a></li>
      </ul>
    </nav>
    <a class="header__logo" href="/">
      <img src="/assets/logo.png">
      <div class="header__siteName">SURF &amp; PADDLE CO. BLOG</div>
    </a>
    <div class="header__blogTitle">
      SURF &amp; PADDLE CO.
    </div>
    <div class="header__blogSubtitle">
      An Ironyard Academy Project Est. Summer 2014
    </div>
  </div>
</header>
